/* Ẩn thanh cuộn */
/* .no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
} */

/* Hiệu ứng chuyển mượt khi đổi tab */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.animate-fadeIn {
  animation: fadeIn 0.3s ease-in-out;
}

/* Sidebar và main content mượt */
aside {
  backdrop-filter: blur(12px);
}
main {
  scroll-behavior: smooth;
}
